
<div class="col-xs-12 col-md-6 col-lg-4 item" style=" margin-left: -150px;" >
  <div class="timeline-block" style="background: #26a69a; box-shadow: 5px 5px 2px grey" >
    <div class="panel panel-default share clearfix-xs" >
      <div class="panel-heading panel-heading-gray title">
        What&acute;s new
      </div>
      <div class="panel-body" >
        <textarea type="text" [(ngModel)]="publication.publicationText"  class="form-control share-text" rows="3" placeholder="Share your status..."></textarea>
      </div>
      <div class="panel-footer share-buttons" >

        <div class="form-group">
          <form-upload3 [user]="publication"></form-upload3>
        </div>

        <!--<button  (click)="savePublication()" class="btn btn-primary btn-xs pull-right " >Post</button>-->
      </div>
    </div>
  </div>
</div>
