<!--<div *ngIf="profilephotoBase64" class="progress">-->
<!--<div class="progress-bar progress-bar-info progress-bar-striped"-->
<!--role="progressbar" attr.aria-valuenow="{{progress.percentage}}"-->
<!--aria-valuemin="0" aria-valuemax="100"-->
<!--[ngStyle]="{width:progress.percentage+'%'}">-->
<!--{{progress.percentage}}%</div>-->
<!--</div>-->
<img src={{profilephotoBase64}} style="width: 100px ;height: 100px; margin-top: -70px" class="img-circle">
<div class="image-upload">
  <label for="file-input">
    <div class="pos">

     <img src="assets/images/ic_edit_compte.png" style="width: 30px ;height: 30px;margin-top: -70px"/>

    </div>

  </label>
  <input type="file"  id="file-input" (change)="selectFile($event)" >

</div>
