

<div >
  <!-- Leaderboard -->
  <div class="panel panel-default" style=" box-shadow: 5px 5px 2px grey">
    <div class="panel-heading" style="background: #26a69a">
      <h4 class="panel-title">Les Utilisateurs qui publient le plus de publications &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        total</h4>

    </div>
    <table class="table table-leaderboard margin-none">
      <tbody>


        <tr *ngFor="let t of list1 ; let i=index">
          <td width="20"><h5>{{i+1}}</h5></td>
        <td><a (click)="consulterProfil(t.collaborateur.email)"><i class="fa fa-flag text-muted"></i>&nbsp;&nbsp;<h5>{{t.collaborateur.email}}</h5> </a></td>
          <td><span class="pull-right " ><strong><h5>{{t.nbPublication}}</h5></strong></span></td>
      </tr>

      </tbody>
    </table>

    <div class="panel-footer padding-none">
      <div class="row">

        <div class="col-sm-6 ">
          <div class="score-block">
            <div class="title ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Total publications</div>
           <div class="score">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{total}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- // Leaderboard -->
</div>

