<!--<div *ngIf="profilephotoBase64" class="progress">-->
<!--<div class="progress-bar progress-bar-info progress-bar-striped"-->
<!--role="progressbar" attr.aria-valuenow="{{progress.percentage}}"-->
<!--aria-valuemin="0" aria-valuemax="100"-->
<!--[ngStyle]="{width:progress.percentage+'%'}">-->
<!--{{progress.percentage}}%</div>-->
<!--</div>-->





<img src="assets/images/ajoutph.png" style="width: 20px; height: 20px;"/>
                  <input style="opacity: 0" type="file"   (change)="selectFile3($event)" >

