
<nav class="navbar navbar-subnav navbar-static-top navbar-fixed-top" style="background: #26a69a; box-shadow: 5px 5px 2px grey" role="navigation">






      <ul class="nav navbar-nav hidden-xs navbar-right" style="margin-right: 200px">

        <li class="dropdown notifications updates " (click)="resetNotifications()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="badge badge-primary">{{getCount()}}</span>
          </a>
          <ul class="dropdown-menu"  role="notification">
            <li class="dropdown-header">Notifications</li>
            <table>
              <tr *ngFor="let p of notifications   ">

                <li class="media">
                  <div class="pull-right">
                    <span class="label label-success">New</span>
                  </div>
                  <div class="media-left">
                    <form-upload4 [user]="p.collaborateur"></form-upload4>
                  </div>
                  <div class="media-body">
                    <a>{{p.collaborateur.email}}</a>{{p.details}}
                    <br/>
                    <span class="text-caption text-muted">{{p.date |date:'MM/dd/yyyy  h:mma'}}</span>
                  </div>
                </li>
              </tr>
            </table>


          </ul>
        </li>
        <li><a (click)="onLogout()">Logout  <i class="fa fa-fw icon-unlock-fill"></i></a></li>
      </ul>


</nav>

<div style="margin-top: 0px"></div>

<div class="cover profile">

  <div class="wrapper">
    <div class="image">

      <img src="assets/images/profile-cover.jpg" style="margin-left: 0px " alt="people" />
    </div>

  </div>

<div class="cover-info" style="margin-left: 0px">
  <div class="avatar">

    <div class="form-group" style="width: 50px ;height: 50px " >
      <form-upload [user]="user"></form-upload>
    </div>
 {{coll}}

  </div>

  <ul class="cover-nav">

    <li><a [routerLink]="['/publication']"><i class="fa fa-fw icon-ship-wheel"></i> Timeline</a></li>
    <li><a (click)="onEditProfil()"><i class="fa fa-fw icon-user-1"></i> About</a></li>
    <li><a (click)="inbox()"><i class="fa fa-fw fa-users"></i> Chat</a></li>


  </ul>
</div>
</div>


