<h1>Hr Access</h1>
<div class="panel panel-default text-center">
  <img src="assets/images/balsamiq.png"  style="width: 100px; height: 100px" class="img-circle">
  <form #f="ngForm" (ngSubmit)="nouveauMotDePasse(f.value)">


    <div class="form-group">
      <div class="panel-body">
        Nouveau mot de passe:
        <input class="form-control" type="password" placeholder="nouveau mot de passe" ngModel="" name="password" >

      </div>
    </div>

    <div class="form-group">
      <div class="panel-body">
        Confirmer mot de passe:
        <input class="form-control" type="password" placeholder="confirmer nouveau mot de pase" ngModel="" name="confirmationMotDePasse" >

      </div>
    </div>


    <button class="btn btn-primary" type="submit">Confirmer<i class="fa fa-fw fa-unlock-alt"></i></button>


  </form>
</div>
