<!DOCTYPE html>
<html class="st-layout ls-top-navbar ls-bottom-footer show-sidebar sidebar-l-sum-22" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>ThemeKit</title>



  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!-- If you don't need support for Internet Explorer <= 8 you can safely remove these -->
  <!--[if lt IE 9]>

  <![endif]-->

</head>
<app-navbar></app-navbar>
<body>

<!-- Wrapper required for sidebar transitions -->


  <!-- Fixed navbar -->


<div class="st-container">
  <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
<app-connecter></app-connecter>

  <script id="chat-window-template" type="text/x-handlebars-template">

    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="chat-collapse" data-target="#chat-bill">


      </div>
      <div class="panel-body" id="chat-bill">
        <div class="media">
          <div class="media-left">
            <img src="{{ user_image }}" width="25" class="img-circle" alt="people" />
          </div>
          <div class="media-body">
            <span class="message">Feeling Groovy?</span>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <img src="{{ user_image }}" width="25" class="img-circle" alt="people" />
          </div>
          <div class="media-body">
            <span class="message">Yep.</span>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <img src="{{ user_image }}" width="25" class="img-circle" alt="people" />
          </div>
          <div class="media-body">
            <span class="message">This chat window looks amazing.</span>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <img src="{{ user_image }}" width="25" class="img-circle" alt="people" />
          </div>
          <div class="media-body">
            <span class="message">Thanks!</span>
          </div>
        </div>
      </div>
      <input type="text" class="form-control" placeholder="Type message..." />
    </div>
  </script>

  <div class="chat-window-container" style="box-shadow: 20px 20px 5px grey"></div>

  <!-- content push wrapper -->
  <div class="st-pusher col-lg-12" style="box-shadow: 20px 20px 5px grey">

    <!-- sidebar effects INSIDE of st-pusher: -->
    <!-- st-effect-3, st-effect-6, st-effect-7, st-effect-8, st-effect-14 -->

    <!-- Sidebar component with st-effect-3 (set on the toggle button within the navbar) -->


    <!-- this is the wrapper for the content -->
    <div class="st-content " style="box-shadow: 20px 20px 5px grey">

      <!-- extra div for emulating position:fixed of the menu -->
      <div class="st-content-inner col col-lo-6" id="content" style="margin-left: 500px; width: 200px; box-shadow: 0px 0px 5px 10px grey">

        <div class="container-fluid " >
          <!-- Messages -->

          <div class="panel panel-default share " >
            <div class="input-group">
              <div class="input-group-btn">
                <a class="btn btn-primary">
                  <i class="fa fa-envelope"></i> Send
                </a>
              </div>

              <!-- /btn-group -->
              <input type="text"  #input (keyup.enter)="sendMessage(input.value)" class="form-control share-text" placeholder="Write message...">

            </div>

            <!-- /input-group -->
          </div>

                <div class="panel-body">






                </div>



        </div>
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
      </div>
    </div>
  </div>
</div>
<script src="assets/js/vendor/all.js"></script>
<script src="assets/js/app/app.js"></script>
</body>

</html>
