

<html class="st-layout ls-top-navbar ls-bottom-footer show-sidebar sidebar-l2" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Hr Access</title>

  <link href="assets/css/vendor/all.css" rel="stylesheet">
  <link href="assets/css/app/app.css" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>
<div class="st-container">







                  <app-navbar></app-navbar>

<app-connecter></app-connecter>






          <div class="container">

          </div>

        <div class="st-pusher" id="content">






        <!-- Sidebar component with st-effect-3 (set on the toggle button within the navbar) -->
































        <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->






            <app-add-publication></app-add-publication>
          <div class="col-xs-12 col-md-8 col-lg-3 item" style="margin-left: -620px;margin-top: 300px">
          <app-likes></app-likes>
          </div>
          <div class="col-xs-12 col-md-8 col-lg-4 item" style="margin-left: -440px;margin-top: 600px">
            <app-tableau-admin></app-tableau-admin>
          </div>

<table>

  <tr *ngFor="let c of rev   | paginate :{itemsPerPage:5,currentPage:p} ">
<div let d="c.commentaires.length">
            <div class="col-xs-12 col-md-8 col-lg-8 item" >
              <div class="timeline-block" style=" box-shadow: 5px 5px 2px grey">
                <div class="panel panel-default">

                  <div class="panel-heading">
                    <div class="media">
                      <div class="media-left">

                          <div class="img-circle" >
                            <img src={{formatFileSrc(c.collaborateur.profilephoto)}} class="photo-profil">
                          </div>

                      </div>
                      <div class="media-body">
                        <a (click)="supprimerPublication(c.id)" class="pull-right text-muted">Delete<i class="icon-reply-all-fill fa fa-pencil "></i></a>

                        <a href="">{{c.collaborateur.email}}</a>

                        <span>{{c.datePublication |date:'MM/dd/yyyy  h:mma'}} </span>
                      </div>
                    </div>
                  </div>

                  <div class="panel-body">
                    <div class="boxed">
                      <a class="h4 margin-none">Post</a>


                      <div class="media">
                        <div class="media-left">
                          <a (click)="this.formUpload2.afficherPublication(c)">
                            <div class="form-group" style="width: 100px ;height: 100px;">
                              <form-upload2 [user]="c"></form-upload2>
                            </div>
                          </a>
                        </div>
                        <div class="media-body">
                          <p> <td><h1>{{c.publicationText}}</h1></td>



                          </p> </div>
                      </div>

                    </div>

                  </div>

                  <div class="btn-group btn-group-footer">
                    <a (click)="likePublication(c)" name="aaa" class="btn" ><i class="fa fa-heart" ></i>like</a>
                  </div>
                  <div class="btn-group btn-group-footer">
                      <div *ngFor="let l of likePublications " >
                    <div *ngIf="c.id==l.publication.id" >
                    <a (click)="unlikePublication(l.id)" class="btn btn-primary"><i class="fa"></i>Unlike </a>
                    </div>
                    </div>
                      </div>
                    <a (click)="sharePublication(c)" class="btn"><i class="fa fa-user"></i> Share</a>




                  <div class="view-all-comments">
                    <a (click)="onSeeComments()">
                      <i class="fa fa-comments-o"></i> Voir tous les commentaires
                    </a>


                  </div>
                  <div *ngIf="seeCimments==1">
                  <table>

                  <tr *ngFor="let c1 of c.commentaires; let  i=index">
                      <ul class="comments">


                        <li class="media">
                          <div class="media-left">

                              <form-upload4 [user]="c1.collaborateur"></form-upload4>

                          </div>
                          <div class="media-body">
                            <div class="pull-right dropdown" data-show-hover="li">
                              <a href="#" data-toggle="dropdown" class="toggle-button">
                                <i class="fa fa-pencil"></i>
                              </a>
                              <ul class="dropdown-menu" role="menu">
                                <li><a (click)="changerModeModif()" >Modifier</a></li>
                                <li><a (click)="DeleteCommentaire(c.commentaires[i].id)">Supprimer</a></li>
                              </ul>
                            </div>
                            <a  class="comment-author pull-left">{{c.commentaires[i].collaborateur?.email}}</a>
<div *ngIf="modif==0">
                            <span >{{c.commentaires[i].textCom}}</span></div>
                            <div *ngIf="modif==1">
                            <input type="text" class="form-control  " [(ngModel)]="commentaire.textCom"  value="{{c.commentaires[i].textCom}}" />
                          <button  (click)="updateCom(c.id)" class="btn btn-primary btn-xs pull-right " >Modifier</button></div>
                            <div class="comment-date" type="date">{{c.commentaires[i].dateCommentaire  |date:'MM/dd/yyyy  h:mma'}}</div>
                          </div>

                        </li>


                      </ul>

                    </tr>

                    <li >
                      <div class="input-group">

                          <span class="input-group-btn">

                </span>
                        <!--[(ngModel)]="commentaire.textCom"-->
                        <input type="text" class="form-control  " [(ngModel)]="commentaire.textCom"  />


                      </div><button  (click)="saveCom(c.id)" class="btn btn-primary btn-xs pull-right " >Post</button>
                    </li></table></div><div v></div>
                </div>
              </div>
            </div>
</div>
  </tr>

</table>
            <pagination-controls (pageChange)="p =$event"></pagination-controls>

      </div>


  </div>
  <footer class="footer">
    <strong>Hr Acess</strong> v4.0.0 &copy; Copyright 2018
  </footer>

</body>
</html>
