<!DOCTYPE html>
<html class="hide-sidebar ls-bottom-footer" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="assets/css/vendor/all.css" rel="stylesheet">
  <script src="assets/js/app/app.js"></script>


  <title>taha</title>


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!-- If you don't need support for Internet Explorer <= 8 you can safely remove these -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="login">

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div id="content">


<app-register></app-register>










  <div class="container-fluid">
    <div  *ngIf="erreurDinsription==1">
      <strong> erreur</strong>
    </div>
<div  *ngIf="mode==1">
  <strong> Bad credentiales...</strong>
</div>
    <div *ngIf="mode==0">
    <div class="lock-container">
      <div *ngIf="oubli==0">

        <app-oubli-zero></app-oubli-zero>
      </div>
      <div *ngIf="oubli==1">
     <app-oubli-un></app-oubli-un>
      </div>

      <div *ngIf="oubli==2">

        <app-oubli-deux></app-oubli-deux>

      </div>



    </div>
    </div>
  </div>

</div>

<!-- Footer -->
<footer class="footer">
  <strong>Sopra Hr</strong>
</footer>



<script src="assets/js/app/app.js"></script>

<script src="assets/js/vendor/all.js"></script>

</body>

</html>



