.img-circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #00c853;
  color: white;
  font-size: 14px;
}

.photo-profil{
  width: 40px;
  height: 40px;
  border-radius: 50%;

}
