<!DOCTYPE html>
<html class="st-layout ls-top-navbar ls-bottom-footer show-sidebar sidebar-l2"  lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>ThemeKit</title>
  <link href="assets/css/vendor/all.css" rel="stylesheet">
  <link href="assets/css/app/app.css" rel="stylesheet">






  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>

<!-- Wrapper required for sidebar transitions -->
<div class="st-container ">

  <!-- Fixed navbar -->

  <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
  <div class=" sidebar left sidebar-size-2 sidebar-offset-0 sidebar-visible-desktop sidebar-visible-mobile sidebar-skin-dark" style="background: #2b3f4f;" id="sidebar-menu">
    <div data-scrollable>
      <div class=" sidebar-block">
        <div class="profile">


        </div>
      </div>
      <h4 class="category">Account</h4>
      <ul class="sidebar-menu ">

        <li class="active"><a [routerLink]="['/admin']"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
        <li><a [routerLink]="['/messagerie']" ><i class="icon-comment-fill-1"></i> <span>Messages</span></a></li>
        <li><a (click)="logout()"><i class="icon-unlock-fill"></i> <span>Logout</span></a></li>
      </ul>
    </div>
  </div>




  <div class="chat-window-container "></div>

  <!-- sidebar effects OUTSIDE of st-pusher: -->
  <!-- st-effect-1, st-effect-2, st-effect-4, st-effect-5, st-effect-9, st-effect-10, st-effect-11, st-effect-12, st-effect-13 -->

  <!-- content push wrapper -->
  <div class="st-pusher " id="content">

    <!-- sidebar effects INSIDE of st-pusher: -->
    <!-- st-effect-3, st-effect-6, st-effect-7, st-effect-8, st-effect-14 -->

    <!-- this is the wrapper for the content -->
    <div class="st-content ">

      <!-- extra div for emulating position:fixed of the menu -->
      <div class="st-content-inner ">

        <nav class="navbar navbar-subnav navbar-static-top" style="background: #2b3f4f" role="navigation">
          <div class="container-fluid ">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header ">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-ellipsis-h"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse " id="subnav">
              <ul class="nav navbar-nav ">
                <li><a (click)="publcation()">Fil d'actualité</a></li>
              </ul>
              <ul class="nav navbar-nav  navbar-right ">
                <li><a (click)="logout()"> Logout<i class="fa fa-fw fa-sign-out"></i></a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->

          </div>
        </nav>
        <li><a (click)="supprimerCompte()"><h3>Supprimer le compte</h3></a></li>

        <div class="container-fluid">









          <div class="panel panel-default" style="margin-left: 350px;  ">
            <table>

              <tr *ngFor="let c of ProfilpagePublication | paginate :{itemsPerPage:5,currentPage:p} ">

                <div class="col-xs-12 col-md-8 col-lg-8 item" >
                  <div class="timeline-block" style="box-shadow: 5px 5px 2px grey; background: #2b3f4f">
                    <div class="panel panel-default">

                      <div class="panel-heading">
                        <div class="media">
                          <div class="media-left">
                            <div class="form-group" style="width: 20px ;height: 20px;">
                              <form-upload4 [user]="c.collaborateur"></form-upload4>
                            </div>
                          </div>
                          <div class="media-body">
                            <a [routerLink]="['/consulter2',c.collaborateur.email]"style="color: #0a0a0a" >{{c.collaborateur.email}}</a>

                            <span>{{c.datePublication |date:'MM/dd/yyyy  h:mma'}} </span>
                          </div>
                        </div>
                      </div>

                      <div class="panel-body">
                        <div class="boxed">
                          <span class="h4 margin-none">Post</span>

                          <div class="media">
                            <div class="media-left">
                              <a (click)="this.formUpload2.afficherPublication(c)">
                                <div class="form-group" style="width: 100px ;height: 100px;">
                                  <form-upload2 [user]="c"></form-upload2>
                                </div>
                              </a>
                            </div>
                            <div class="media-body h4 ">
                              <p> <td>{{c.publicationText}}</td>



                              </p> </div>
                          </div>
                          <ul class="icon-list">

                          </ul>
                        </div>

                      </div>


                      <table>

                        <tr *ngFor="let c1 of c.commentaires; let  i=index">
                          <ul class="comments">


                            <li class="media">
                              <div class="media-left">

                                  <form-upload4 [user]="c1.collaborateur"></form-upload4>

                              </div>
                              <div class="media-body">

                                <a href="" class="comment-author pull-left">{{c.commentaires[i].collaborateur?.email}}</a>

                                <span >{{c.commentaires[i].textCom}}</span>

                                <div class="comment-date" type="date">{{c.commentaires[i].dateCommentaire  |date:'MM/dd/yyyy  h:mma'}}</div>
                              </div>

                            </li>


                          </ul>

                        </tr>
                      </table>
                    </div>
                  </div>
                </div>

              </tr>

            </table>
            <pagination-controls (pageChange)="p =$event"></pagination-controls>


            <!-- /st-content-inner -->

          </div>

        </div>

      </div>
      <!-- /st-content-inner -->

    </div>
    <!-- /st-content -->

  </div>
  <!-- /st-pusher -->

  <!-- Footer -->
  <footer class="footer">

  </footer>
  <!-- // Footer -->

</div>
<!-- /st-container -->

<!-- Inline Script for colors and config objects; used by various external scripts; -->


<script src="assets/js/vendor/all.js"></script>

<script src="assets/js/app/app.js"></script>

</body>

</html>
