<!DOCTYPE html>
<html class="st-layout ls-top-navbar ls-bottom-footer show-sidebar sidebar-l2" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Hr Access</title>

  <link href="assets/css/vendor/all.css" rel="stylesheet">
 <link href="assets/css/app/app.css" rel="stylesheet">

  <!-- If you don't need support for Internet Explorer <= 8 you can safely remove these -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>

<!-- Wrapper required for sidebar transitions -->
<div class="st-container">

  <!-- Fixed navbar -->
  <app-template-admintop></app-template-admintop>

  <script id="chat-window-template" type="text/x-handlebars-template">


  </script>

  <div class="st-pusher">

    <div class="sidebar left sidebar-size-2 sidebar-offset-0 sidebar-skin-blue sidebar-visible-desktop" id=sidebar-menu >
      <div class="split-vertical">
        <div class="sidebar-block tabbable tabs-icons">
          <ul class="nav nav-tabs">
            <li ><a href="#sidebar-tabs-menu" data-toggle="tab"><i class="fa fa-bars"></i></a></li>
            <li><a href="#sidebar-tabs-2" data-toggle="tab"><i class="fa fa-bar-chart-o"></i></a></li>
          </ul>
        </div>
        <div class="split-vertical-body">
          <div class="split-vertical-cell">
            <div class="tab-content">

              <div class="tab-pane active" id="sidebar-tabs-menu">
                <div data-scrollable>

                  <ul class="sidebar-menu sm-icons-right sm-icons-block">
                    <li class="active"><a href="index.html"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
                    <li><a href="www.gmail.fr"><i class="fa fa-envelope"></i> <span>Email</span></a></li>
                    <li><a href="chat.html"><i class="fa fa-comments"></i> <span>Chat</span></a></li>
                  </ul>

                  <h4 class="category">Consulter</h4>
                  <ul class="sidebar-menu sm-bordered sm-active-item-bg">
                    <li class="hasSubmenu text-multiple">

                      <ul id="components">
                        <li><a (click)="publicationParJaime()"><i class="fa fa-circle-o"></i> <span>Overview</span></a></li>

                      </ul>
                    </li>

                  </ul>

                </div>
              </div>

            </div>

          </div>

        </div>

      </div>
    </div>

    <div class="st-content" id="content">

          <h2 class="page-section-heading">Tables &amp; lists</h2>

          <div class="row" data-toggle="isotope">


            <app-tableau-admin></app-tableau-admin>


      </div>


    </div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

</div>

<script src="assets/assets/js/vendor/all.js"></script>

<script src="assets/js/app/app.js"></script>

</body>

</html>
